<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>
  <label for="studenti">Scegliere uno studente</label>
  <select name="studenti" id="studenti">
    <% r.forEach((e) => { %>
      <option><%= e %></option>
    <% }) %>
  </select>
  <script type="text/javascript" src="script.js"></script>
</body>
</html>