<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hello, world!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body>
  <table>
    <th>
      nome
    </th>
    <th>
      cognome
    </th>
    <% studenti.forEach(ele => { %>
      <tr>
        <td><%-ele.name-%></td>
        <td><%-ele.surname-%></td>
      </tr>
    <%})%>
  </table>
  
  <div id="autocomplete">
    <input id="insegnanti" type="text" placeholder="Nome Insegnante">
  </div>
  <script type="text/javascript" src="script.js"></script>
</body>
</html>